 <!-- BANNER WITH TITLE, SUBTITLE AND BUTTON
      IF YOU WANT TO MAKE THE TEXT BLACK, JUST REPLACE "light-text" with "dark-text".
      IF YOU WANT TO CHANGE IMAGE AND HEIGHT, EDIT THE STYLE.
      IF YOU WANT TO CHANGE THE BUTTON COLOR AND SIZE, EDIT "medium-white".
      -->
      
   <div class="banner parallax" style="height:30%; background-image: url('https://source.unsplash.com/category/buildings');">
       <div class="banner__filter"></div>
       <div class="banner__caption">
           <div class="banner__caption__copy light-text">
               <h1>What a cool title!</h1>
               <a href="" class="btn medium-white">Subscribe now!</a>
           </div>
       </div>
   </div>