 <!-- BUTTONS, WITH 3 SIZES AND 9 DIFFERENT COLORS
     IF YOU WANT TO CHANGE THE BUTTON COLOR AND SIZE, EDIT "size-color".
     COLORS AVAILABLE:
     - WHITE
     - BLACK
     - BLUE
     - PURPLE
     - RED
     - YELLOW
     - GREEN
     - ORANGE
     - GRAY
     SIZES AVAILABLE:
     - SMALL
     - MEDIUM
     - BIG
      -->
      
     
<a href="" class="btn little-white">Little White</a>
<a href="" class="btn little-black">Little Black</a>
<a href="" class="btn little-blue">Little Blue</a>
<a href="" class="btn little-purple">Little Purple</a>
<a href="" class="btn little-red">Little Red</a>
<a href="" class="btn little-yellow">Little Yellow</a>
<a href="" class="btn little-green">Little Green</a>
<a href="" class="btn little-orange">Little Orange</a>
<a href="" class="btn little-gray">Little Gray</a>

<a href="" class="btn medium-white">Medium White</a>
<a href="" class="btn medium-black">Medium Black</a>
<a href="" class="btn medium-blue">Medium Blue</a>
<a href="" class="btn medium-purple">Medium Purple</a>
<a href="" class="btn medium-red">Medium Red</a>
<a href="" class="btn medium-yellow">Medium Yellow</a>
<a href="" class="btn medium-green">Medium Green</a>
<a href="" class="btn medium-orange">Medium Orange</a>
<a href="" class="btn medium-gray">Medium Gray</a>

<a href="" class="btn big-white">Big White</a>
<a href="" class="btn big-black">Big Black</a>
<a href="" class="btn big-blue">Big Blue</a>
<a href="" class="btn big-purple">Big Purple</a>
<a href="" class="btn big-red">Big Red</a>
<a href="" class="btn big-yellow">Big Yellow</a>
<a href="" class="btn big-green">Big Green</a>
<a href="" class="btn big-orange">Big Orange</a>
<a href="" class="btn big-gray">Big Gray</a>
