 <!-- A SET OF 3 CARDS, WITH IMAGE, TITLE, TEXT AND BUTTON
     IF YOU WANT TO CHANGE THE IMAGE, CHANGE THE URL, THE SIZE SHOULD BE 400x260.
     IF YOU WANT TO CHANGE THE BUTTON COLOR AND SIZE, EDIT "medium-white".
     IF YOU WANT TO HAVE SHADOWS BEHIND THE CARDS, place "shadow" after "cards__card".
      -->
       

       
    <div class="cards clearfix">
        <div class="cards__card">
        <img src="https://source.unsplash.com/category/people/400x260" class="cards__card__img">
        <div class="cards__card__content">
            <h1>Title</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem laboriosam, cupiditate consectetur reprehenderit numquam. Ut facere accusamus veniam, repudiandae aut repellendus, fugiat velit! Mollitia quibusdam voluptas rem, suscipit omnis incidunt!</p>
            <a href="" class="btn medium-white"> Call to action</a>
        </div>
        </div>
    <div class="cards__card">
        <img src="https://source.unsplash.com/category/people/400x260" class="cards__card__img">
        <div class="cards__card__content">
            <h1>Title</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem laboriosam, cupiditate consectetur reprehenderit numquam. Ut facere accusamus veniam, repudiandae aut repellendus, fugiat velit! Mollitia quibusdam voluptas rem, suscipit omnis incidunt!</p>
            <a href="" class="btn medium-white"> Call to action</a>
        </div>
        </div>
        
    <div class="cards__card">
        <img src="https://source.unsplash.com/category/people/400x260" class="cards__card__img">
        <div class="cards__card__content">
            <h1>Title</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem laboriosam, cupiditate consectetur reprehenderit numquam. Ut facere accusamus veniam, repudiandae aut repellendus, fugiat velit! Mollitia quibusdam voluptas rem, suscipit omnis incidunt!</p>
            <a href="" class="btn medium-white"> Call to action</a>
        </div>
        </div>
    </div>