 <!-- COVER WITH TITLE, SUBTITLE AND BUTTON
      IF YOU WANT TO MAKE THE TEXT BLACK, JUST REPLACE "light-text" with "dark-text".
      IF YOU WANT TO CHANGE IMAGE AND HEIGHT, EDIT THE STYLE.
      IF YOU WANT TO CHANGE THE BUTTON COLOR AND SIZE, EDIT "medium-white".
      -->
   	   	<div class="cover" style="height:70%; background-image: url('https://source.unsplash.com/category/buildings');">
		<div class="cover__filter"></div>
		<div class="cover__caption">
			<div class="cover__caption__copy light-text">
				<h1>Primary message of the Home </h1>
				<h3>Subtitle of the home page</h3> <br>
				<a href="" class="btn medium-white"> Call to action</a>
			</div>
		</div>
	</div>