 <!-- HERE YOU CAN FIND SOME CLASSES THAT YOU CAN INSERT INTO ELEMENTS
      -->
      
 code-dark / code-light <!-- Gives paragraph a code looking -->    
 
 boxed <!-- Puts the content inside of a box -->    
 
 shadow <!-- Puts shadows behind the elements -->

 light-text <!-- The text becomes light -->   
 
 dark-text <!-- The text becomes dark -->   
 
 stable <!-- Makes a paragraph a little bit bigger -->  
 
 parallax <!-- Gives a background image a parallax effect --> 
 
 dark <!-- The background becomes dark (used for body) --> 

 light <!-- The background becomes light (used for body) --> 
 
 dark-text <!-- The text color becomes dark (used for cover) --> 
 
 light-text <!-- The text color becomes light (used for cover) --> 
 
 sticky <!-- The element becomes sticky (used for headers) --> 