 <!-- FOOTER WITH TEXT ON THE LEFT AND MENU ON THE RIGHT
      IF YOU WANT IT TO NOT BE BOXED, JUST REMOVE "boxed".
      IF YOU WANT THE LOGO TO NOT BE SHOWED ON MOBILE, JUST PLACE "no-mobile"
      AFTER "footer".
      I suggest you to not add more than 3 items in the right Menu.
      -->
      
      
<div class="footer">
    <div class="footer__content boxed clearfix">
        <div class="footer__content__left">
            <p>Designed by <a href="https://twitter.com/mooonmatt"><i class="fas fa-moon"></i>matt</a></p>
        </div>
                <div class="footer__content__right">
            <a href="https://twitter.com/mooonmatt"><ul><i class="fab fa-twitter"></i></ul></a>
            <a href="https://github.com/moonmatt/Mogi"><ul><i class="fab fa-github"></i></ul></a>
            <a href="https://moonmatt.dev/"><ul><i class="fab fa-chrome"></i></ul></a>
        </div>
    </div>
</div>