 <!-- FOOTER WITH TEXT ON THE LEFT AND MENU ON THE RIGHT
      IF YOU WANT TO MAKE IT DARK, JUST REPLACE "light" with "dark".
      IF YOU WANT IT TO NOT BE BOXED, JUST REMOVE "boxed".
      IF YOU WANT THE LOGO TO NOT BE SHOWED ON MOBILE, JUST PLACE "no-mobile"
      AFTER "footer__color.
      I suggest you to not add more than 3 items in the right Menu.
      -->
      
      
              <div class="footer__light">
        <div class="footer__content__light boxed clearfix">
        <div class="footer__content__left__light">
            <p>Designed by <a href="https://twitter.com/mttglvtt">@mttglvtt <i class="fas fa-heart"></i></a></p>
        </div>
                <div class="footer__content__right__light">
            <a href="https://twitter.com/mttglvtt"><ul><i class="fab fa-twitter"></i></ul></a>
            <a href="https://github.com/mttglvtt/Mogi"><ul><i class="fab fa-github"></i></ul></a>
            <a href="https://matteogalavotti.com/"><ul><i class="fab fa-chrome"></i></ul></a>
        </div>
        </div>
    </div>