 <!-- FORM WITH INPUTS AND SUBMIT BUTTON
      IF YOU WANT TO MAKE THE TEXT BLACK, JUST REPLACE "light-text" with "dark-text".
      IF YOU WANT TO CHANGE IMAGE AND HEIGHT, EDIT THE STYLE.
      IF YOU WANT TO CHANGE THE BUTTON COLOR AND SIZE, EDIT "medium-white".
      -->
      
    <form action="">
        <label for="name">First Name</label>
        <input type="text" id="name" name="name" placeholder="Your name..">

    <label for="lname">Email</label>
    <input type="email" id="email" name="email" placeholder="Your email..">

    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select>
  
    <input type="submit" value="Submit" class="btn medium-white">
      </form>