 <!-- RESPONSIVE GRID SISTEM WHERE YOU CAN PUT WHATEVER YOUR WANT
      -->


    
     <!-- the space is divided in 3 regular elements |eee|eee|eee|-->
<div class="grid clearfix">
   <div class="grid-3">INSERT CONTENT HERE</div>
   <div class="grid-3">INSERT CONTENT HERE</div>
   <div class="grid-3">INSERT CONTENT HERE</div>
</div>



     <!-- the space is divided in 2 regular elements |eeee|eeee| -->
<div class="grid clearfix">
   <div class="grid-2">INSERT CONTENT HERE</div>
   <div class="grid-2">INSERT CONTENT HERE</div>
</div>

     <!-- the space is divided in 2 non-regular elements |ee|eeeeee| -->
<div class="grid clearfix">
   <div class="grid-2-25">INSERT CONTENT HERE</div>
   <div class="grid-2-75">INSERT CONTENT HERE</div>
</div>


