 <!-- PAGE ELEMENT WHERE YOU CAN PUT WHATEVER YOU WANT
      IF YOU WANT TO MAKE IT DARK, JUST REPLACE "light" with "dark".
      IF YOU WANT IT TO NOT BE BOXED, JUST REMOVE "boxed".
      IF YOU WANT THE CORNERS TO NOT BE ROUNDED, JUST REMOVE "rounded".
      IF YOU JUST WANT THE CONTENT TO BE BOXED, REMOVE "boxed" FROM page__color
      AND PLACE IT AFTER page__content__color.
      IF YOU WANT TO HAVE SHADOWS BEHIND THE PAGE, place "shadow" after "page__color".
      -->
      
      
   <div class="page__light boxed rounded">
       <div class="page__content__light">
          <h1>Random title</h1>
          <h2></h2>
           <p class="stable">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam amet quam quo magnam deleniti culpa illo iste libero officia cum incidunt repudiandae in ea, accusantium, laborum, placeat ipsum ex iusto!</p>
           <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium dolore odit vel, doloribus dolores veritatis illum iusto nemo iste magni corporis corrupti explicabo veniam eius officia culpa sequi quos cumque.</p>
       </div>
   </div>